.background {
    position: relative;
    width: auto;
    z-index: 1;
}

.background img {
    max-width: 100%;
}

.background p {
    font-size: 35px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.aboutbox {
    max-width: 100%;
    width: 90%;
    background: #212F3D;
    position: absolute;
    top: 15rem;
    left: 9rem;
    z-index: 2;
    text-align: center;
    height: auto;
}

.aboutbox text {
    font-size: 3vw;
}

.aboutbox img {
    padding: 20px;
    max-width: 100%;
    height: auto;
} 

.subscribe {
    /* width: 100%; */
    /* height: 250px; */
    z-index: 1;
    position: relative;
}

.subscribe img {
    max-width: 100%;
    height: auto;
    /* z-index: 1; */
    opacity: 0.9;
}

.usernamebox {
    position: absolute;
    top: 2rem;
    left: 32rem;
    width: 50%;
    text-align: center;
    font-size: 2vw;
    color: white;
}

.footer {
    width: 100%;
    height: 350px;
    background: #66c2ff;
    /* width: auto; */
    text-align: center;
}

.mediaicons {
    width: 60%;
    display: flex;
    margin: auto;
}

.mediaicons img {
    padding: 20px;
    margin: auto;
}

.footer text {
    font-size: 2vw;
}